[core]
	editor = nvim
[mergetool "vimdiff"]
	layout = LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + BASE,REMOTE + BASE,MERGED
[mergetool "nvimdiff"]
	layout = LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + BASE,REMOTE + BASE,MERGED
[merge]
	tool = nvimdiff
